.search {
    font-size: medium;
    background-color: beige;
    height: 30px;
    width: 120px;
    border-radius: 15px;
    border-color: rgb(10, 138, 138);
}

.plus {
    background-color: rgb(68, 207, 207);
    border-radius: 50%;
    border-color: white;
    height: 30px;
    width: 30px;
}

.create {
    font-size: larger;
    background-color: rgb(15, 71, 226);
    height: 50px;
    width: 200px;
    box-shadow: 10px 10px;
}

.outer {
    margin: 0 auto;
}

.inner {
    margin-left: 50px;
    margin-top: 20px;
}