.My {
    color: white;
}

.Cloud {
    color:aqua;
}

.header1 {
    background-color: black;
    textcolor
}

.header2 {
    background-color: rgb(183, 15, 235);
    text-align: center;
}

.header3 {
    background-color: skyblue;
    text-align: right;
}